<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head >
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<th:block th:insert="header.html"></th:block>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
			<h5>Product Gallery</h5>
			</div>
			
			<div class="card-body">
				<span th:each="prodimg :${productlist}">
				
				<a th:href="@{${prodimg.image}}" target="_blank">
				<img class="p-2" th:src="@{${prodimg.image}}" width="300" height="300">
				</a>
				
				</span>
			</div>

			<div class="card-footer bg-warning text-center">copyright@2024</div>

		</div>

	</div>
</body>
</html>