<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head >
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<th:block th:insert="header.html"></th:block>

	<div class="container-fluid">
		<div class="card">
			<div class="card-header text-center bg-primary text-white">
			<h5>Upload Images</h5>
			</div>
			
			<div class="card-body">
				<form action="/upload" method="post" enctype="multipart/form-data">
					
						
							<div class="row p-2">
								<div class="col-4"><b>Select Image</b></div>
								<div class="col-6"><input type="file" name="image" class="form-control"></div>
							</div>

							<div class="row p-2">
								<div class="col-4"></div>
								<div class="col-6">	<input type="Submit" value="Upload" class="btn btn-success"></div>
							</div>
					</form>
					<p>[[${message}]]</p>
			</div>

			<div class="card-footer bg-warning text-center">copyright@2024</div>

		</div>

	</div>
</body>
</html>